<center><div class="banner">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %>
  </div>
</div></center>
<br>
<center><div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "details", cocktail_path(cocktail), class: 'card-link' %>               <td>
                <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_cocktail"></i>
                <% end %>
              </td>
        </div>
      </div>
    <% end %>
  </div>
</div>
</center>
